/* _about.scss */

.about {

    h2, h3 {
        padding-bottom: 40px;
        margin: 0;
    }

    h2 {
        font-size: 64px;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0 0 40px 0;
    }

    p {
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-delay: 500ms;
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
    }

    a {
        font-weight: 600;
        color: $black;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        transition: background-color $hover-transition;

        &:hover {
            text-decoration: none;
            background-color: $teal;
        }
    }

    .fade-in {
        opacity:0;
    }

    .intro {
        padding: 20px 0 40px 0;
    }

    &-row {
        display: flex;
        padding: 20px 0;

        .fa {
            font-size: 100px;
        }
    }

    &-icon {
        text-align: center;
        align-self: center;
    }

    .skills-grid {
        margin-left: -5px;

        span {
            font-weight: bold;
            padding: 2px 5px;
            margin: 5px;
            border: 2px solid black;
            display: inline-block;
        }
    }

    .resume {
        font-size: 32px;
        text-align: center;
        color: $black;
        background-color: $teal;
        border: none;
        border-radius: 4px;
        padding: 1em 0;
        margin: 80px auto;
        width: 320px;
        display: block;
        transition: all $hover-transition;

        &:hover {
            color: $teal;
            background-color: $black;
        }

        .fa {
            font-size: 32px;
            padding-right: 10px;
        }
    }
}