/* _responsive.scss */

// @media (min-width: 992px) {
// }

@media (min-width: 992px) and (max-width: 1199px) {

    .timeline dl dd .circ {
        left: 470px;
    }
}

@media (max-width: 991px) {

    .navbar {
        padding: 16px 15px;
    }

    .timeline dl dd .circ {
        left: 360px;
    }
}

@media (min-width: 768px) {

    #topImage {
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    #web-work {

        .web-work-item {
            height: 320px;
            width: 320px;
        }
    }
}

@media screen and (max-width: 767px) {

    #top {

        #topImage {
            background-size: 1200px;
            background-position: 50% 40px;
            min-height: 500px; 
        }

        #about {

            .intro {
                padding: 0 0 40px 0;
            }

            h1 {
                font-size: 60px;
                line-height: 76px;
            }

            h2 {
                font-size: 48px;
                padding-bottom: 40px;
            }

            .about-row {
                display: block;
                padding: 0 0 40px 0;

                .visible-xs {
                    display: inline-block !important;
                }

                h4 {
                    text-align: center;
                    font-weight: normal;
                    letter-spacing: 4px;
                    font-size: 28px;

                    .fa {
                        font-size: 32px;
                    }
                }
            }

            .resume {
                font-size: 24px;

                .fa {
                    font-size: 24px;
                }
            }
        }

        #web-work {

            .web-work-item {
                width: auto;
                min-height: 280px;
                min-width: 280px;
                height: auto;

                &:hover {

                    .img-wrapper {
                        padding: 20px;
                    }
                }

                h3 {
                    font-size: 16px;
                }

                p {
                    margin: 0;
                }
            }

            .img-wrapper {
                transition: none;
                height: auto;
                min-height: 200px;
            }

            figcaption {
                height: 80px;
                display: flex;
                justify-content: space-around;
                flex-flow: column wrap;
                padding: 10px 0;
            }

            .web-work-modal {
                padding: 0;

                &-inner {
                    padding: 0 1em;
                    display: block;
                    overflow: auto;
                    height: 100%;
                }

                &-close {
                    width: 50px;
                    height: 50px;
                }

                h4 {
                    font-size: 40px;
                    margin-bottom: 20px;
                    margin-top: 50px;
                }

                h5 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                }

                a {
                    width: 100%;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
        }

        #timeline {

            .timeline dl:before {
                left: 60px;
            }
            
            .timeline dl dt {
                margin: 0 0 15px;
            }

            .timeline .circ {
                left: 60px;
            }
            
            .timeline dl dd .time {
                left: 0;
            }

            .timeline dl dd.pos-left .time {
                padding: 10px 0;
                margin-left: 0;
                text-align: left;
            }

            .timeline dl dd.pos-left .events {
                float: right;
                width: calc(100% - 100px);
            }
            
            .timeline dl dd.pos-left .events:before {
                left: -12px;
                border-color: transparent $gray transparent transparent;
            }

            .timeline dl dd.pos-right .time {
                padding: 10px 0;
                margin-left: 0;
                text-align: left;
            }

            .timeline dl dd.pos-right .events {
                float: right;
                width: calc(100% - 100px);
            }
        }
    } 
}

@media (max-width: 520px) {

    #top {

        .navbar-logo {
            font-size: 16px;
            padding-top: 2px;
        }

        #topImage {
            background-size: 1200px;
            background-position: 50% 25px;
            min-height: 425px; 
            height: 100vh;
        }
        
        ul.social {

            li { 
                padding-right: 20px;

                .fa {
                    line-height: 30px;

                    &.fa-5x {
                       font-size: 3em;
                    }
                }
            }
        }

        #timeline {

            .timeline .circ {
                left: 20px;
            }

            .timeline dl:before {
                left: 20px;
            }

            dd {
                margin: 0px;
            }

            .timeline dl dd.pos-left .events,
            .timeline dl dd.pos-right .events {
                width: calc(100% - 60px);
            }
        }
    }
}

